<% @page_title = "UserAuth | Signup" %>
<h1>New User</h1>
<%= form_for(:user, :url => {:controller 'users', :action => 'create'}) do |f|%>
	<p>username:  <%=f.text_field :username%></p><br>
	<p>passphrase: <%f.password_field :password%></p><br>
	<p>conf pass: <%f.password_field :password_confirmation%></p><br>
	<%=f.submit :Signup %>
<% end %>
<br><br>
<% if @user.errors.any? %>
  <ul>
    <% for message_error in @user.errors.full_messages %>
	    <li>* <%=message_error%></li>
    <% end %>
  </ul>
<% end %>

